<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4gq2JZF7BEo1ERDcrdclooN6rYBMGfpU</string>
	<key>GCM_SENDER_ID</key>
	<string>901922713448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greylearn.academyApp</string>
	<key>PROJECT_ID</key>
	<string>greylearnapp</string>
	<key>STORAGE_BUCKET</key>
	<string>greylearnapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901922713448:ios:b954692accdf4f2c53f0dd</string>
</dict>
</plist>